/*
* @Author: shen
* @Date:   2018-11-11 21:48:55
* @Last Modified by:   shen
* @Last Modified time: 2018-11-11 23:40:23
*/

/* reset */

*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;

	/* 忘记的 */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body{
	font-size: 14px;
	font-family: "Microsoft YaHei",sans-serif;
	color: #333;
}

/* 忘记的 */

ul,ol{
	list-style: none;
}
/* /忘记的 */

a,a:hover{
	text-decoration: none;
	color: #333;
}

input, textarea{
	outline: none;
	-webkit-appearance: none;

	/* 忘记的 */
	resize: none;
	border: none;

}

.fl{
	float: left;
}

.fr{
	float: right;
}

.clearFix::before,
.clearFix::after{
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	line-height: 0;
	clear: both;
}

/* 常用外补 */

.ml10{
	margin-left: 10px;
}
.mt10{
	margin-top: 10px;
}
.mr10{
	margin-right: 10px;
}
.mb10{
	margin-bottom: 10px;
}


/* 自定义字体图标 */

@font-face {
    font-family: 'wjs';
    src:
    url(../fonts/MiFie-Web-Font.svg) format('svg'),
    url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype'),
    url(../fonts/MiFie-Web-Font.ttf) format('truetype'),
    url(../fonts/MiFie-Web-Font.woff) format('woff');
}

.wjs_icon{
    font-family: wjs;
}
.wjs_icon_phone::before{
    content: "\e908";
}
.wjs_icon_tel::before{
    content: "\e909";
}
.wjs_icon_logo::before{
    content: "\e920";
}
.wjs_icon_name::before{
    content: "\e93e";
}
.wjs_icon_dollar::before{
    content: "\e903";
}
.wjs_icon_clock::before{
    content: "\e906";
}
.wjs_icon_video::before{
    content: "\e905";
}
.wjs_icon_news_01::before {
    content: "\e90e";
}

.wjs_icon_news_02::before {
    content: "\e90f";
}

.wjs_icon_news_03::before {
    content: "\e910";
}

.wjs_icon_news_04::before {
    content: "\e911";
}

.wjs_icon_partner01::before {
    content: "\e946";
}

.wjs_icon_partner02::before {
    content: "\e92f";
}

.wjs_icon_partner03::before {
    content: "\e92e";
}

.wjs_icon_partner04::before {
    content: "\e92a";
}

.wjs_icon_partner05::before {
    content: "\e929";
}

.wjs_icon_partner06::before {
    content: "\e931";
}

.wjs_icon_partner07::before {
    content: "\e92c";
}

.wjs_icon_partner08::before {
    content: "\e92b";
}

.wjs_icon_partner09::before {
    content: "\e92d";
}