/* 
* @Author: anchen
* @Date:   2018-10-14 10:54:24
* @Last Modified by:   anchen
* @Last Modified time: 2018-10-14 13:37:44
*/

/*初始化布局*/
*{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}

a:link, a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: red;
}

body{
    font-size: 12px;
    background: #ccc;
}

/*全局功能*/

.clear{clear: both;}

/*开学了功能*/

.container{
    padding:10px;
    margin: 10px auto;
    width: 330px;
    background-color: white;
}

.container ul{margin: 0 auto;}
.container ul li{
    float:left;
    text-align: center;
}

.container ul li img{
    width: 142px;
    height: 88px;
    padding: 10px;
}