<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>微金所</title>
</head>

<body>
    <!-- 头部 -->
    <header class="wjs_head hidden-sm hidden-xs">
        <div class=" container">
            <div class="row">
                <div class="col-md-2">
                    <a href="#" class="wjs_app">
                        <span class="wjs_icon wjs_icon_phone"></span>
                        <span>手机微金所</span>
                        <span class="glyphicon glyphicon-menu-down"></span>
                        <img src="../images/code.jpg">
                    </a>
                </div>
                <div class="col-md-5">
                    <span class="wjs_icon wjs_icon_tel"></span>
                    <span> 4006-89-4006（服务时间：9:00-21:00）</span>
                </div>
                <div class="col-md-3">
                    <a href="#">常见问题</a>
                    <a href="#">财富登录</a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <div type="botton" class="btn btn-danger btn-sm btn-register">免费注册</div>
                    </a>
                    <a href="#" class="ml10">登录</a>
                </div>
            </div>
        </div>
    </header>
    <!-- 导航 -->
    <nav class="navbar wjs_nav" data-spy="affix" data-offset-top="200">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="wjs_icon wjs_icon_logo"></span>
                    <span class="wjs_icon wjs_icon_name"></span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">我要投资</a></li>
                    <li><a href="#">我要借贷</a></li>
                    <li><a href="#">平台介绍</a></li>
                    <li><a href="#">新手专区</a></li>
                    <li><a href="#">最新动态</a></li>
                    <li><a href="#">微平台</a></li>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm">
                    <li><a href="#">个人中心</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 轮播图 -->
    <div class="wjs_banner">
        <div id="wjs_bar_images" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators"></ol>
            <div class="carousel-inner"></div>
            <a class="left carousel-control" href="#wjs_bar_images" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
            <a class="right carousel-control" href="#wjs_bar_images" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <!-- 信息模块 -->
    <div class="wjs_info hidden-xs">
        <div class="container">
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <a href="#" class="wjs_info_color">
                        <div class="media-left media-middle">
                              <span class="media-object wjs_icon wjs_icon_dollar" ></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">支付交易保障</h4>
                            <p>银联支付全程保证支付安全</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <a href="#" class="wjs_info_color">
                        <div class="media-left media-middle">
                              <span class="media-object wjs_icon wjs_icon_dollar" ></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">支付交易保障</h4>
                            <p>银联支付全程保证支付安全</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <a href="#" class="wjs_info_color">
                        <div class="media-left media-middle">
                              <span class="media-object wjs_icon wjs_icon_dollar" ></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">支付交易保障</h4>
                            <p>银联支付全程保证支付安全</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <a href="#" class="wjs_info_color">
                        <div class="media-left media-middle">
                              <span class="media-object wjs_icon wjs_icon_dollar" ></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">支付交易保障</h4>
                            <p>银联支付全程保证支付安全</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <a href="#" class="wjs_info_color">
                        <div class="media-left media-middle">
                              <span class="media-object wjs_icon wjs_icon_dollar" ></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">支付交易保障</h4>
                            <p>银联支付全程保证支付安全</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <a href="#" class="wjs_info_color">
                        <div class="media-left media-middle">
                              <span class="media-object wjs_icon wjs_icon_dollar" ></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">支付交易保障</h4>
                            <p>银联支付全程保证支付安全</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 预约 -->
    <div class="wjs_book">
        <div class="container">
            <div class="wjs_book_left fl">
                <span class="wjs_icon wjs_icon_clock"></span>
                <span> 现在有 273 人在排队，累计预约交易成功 7571 次。 什么是预约投标？</span>
                <a href="#">立即预约</a>
            </div>
            <div class="wjs_book_right fr hidden-xs">
                <a href="#">
                    <span class="wjs_icon wjs_icon_video"></span>
                    <span>微金所企业宣传片</span>
                </a>
            </div>
        </div>
    </div>
    <!-- 产品区 -->
    <div class="wjs_product">
        <div class="container">
            <div class="navbox">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#recommendation" data-toggle="tab">特别推荐</a></li>
                    <li><a href="#weipingtai1" data-toggle="tab">微平台</a></li>
                    <li><a href="#weipingtai2" data-toggle="tab">微平台</a></li>
                    <li><a href="#weipingtai3" data-toggle="tab">微平台</a></li>
                    <li><a href="#weipingtai4" data-toggle="tab">微平台</a></li>
                    <li><a href="#weipingtai5" data-toggle="tab">微平台</a></li>
                    <li><a href="#weipingtai6" data-toggle="tab">微平台</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="recommendation">
                    <section class="col-md-4 col-sm-6 col-xs-12">
                        <a href="#" class="ticket red">
                            <div class="left">
                                <h3 class="text-center">新手体验标1002期</h3>
                                <div class="col-xs-6">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                                <div class="col-xs-6">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                            </div>
                            <div class="right">
                                <p class="text-center num"><b>8</b>%</p>
                                <p class="text-center">年利率</p>
                            </div>
                        </a>
                    </section>
                    <section class="col-md-4 col-sm-6 col-xs-12">
                        <a href="#" class="ticket">
                            <div class="left">
                                <h3 class="text-center">新手体验标1002期</h3>
                                <div class="col-xs-6">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                                <div class="col-xs-6">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                            </div>
                            <div class="right">
                                <p class="tips">
                                    <span data-toggle="tooltip" class="wei" data-placement="top" title="微金宝">微</span>
                                 <span data-toggle="tooltip" class="gui" data-placement="bottom" title="广西省">桂</span>
                                </p>
                                <p class="text-center num"><b>8</b>%</p>
                                <p class="text-center">年利率</p>
                            </div>
                        </a>
                    </section>
                    <section class="col-md-4 col-sm-6 col-xs-12">
                        <a href="#" class="ticket">
                            <div class="left">
                                <h3 class="text-center">新手体验标1002期</h3>
                                <div class="col-xs-6">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                                <div class="col-xs-6">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                            </div>
                            <div class="right">
                                <p class="text-center num"><b>8</b>%</p>
                                <p class="text-center">年利率</p>
                            </div>
                        </a>
                    </section>
                    <section class="col-md-4 col-sm-6 col-xs-12">
                        <a href="#" class="ticket">
                            <div class="left">
                                <h3 class="text-center">新手体验标1002期</h3>
                                <div class="col-xs-6">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                                <div class="col-xs-6">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>起投金额(元)</p>
                                    <p>0.01万</p>
                                </div>
                            </div>
                            <div class="right">
                                <p class="text-center num"><b>8</b>%</p>
                                <p class="text-center">年利率</p>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="tab-pane" id="weipingtai1">1</div>
                <div class="tab-pane" id="weipingtai2">2</div>
                <div class="tab-pane" id="weipingtai3">3</div>
                <div class="tab-pane" id="weipingtai4">4</div>
                <div class="tab-pane" id="weipingtai5">5</div>
                <div class="tab-pane" id="weipingtai6">6</div>
            </div>
        </div>
    </div>
    <div class="wjs_news">
        <div class="container">
            <div class="col-md-2 col-md-offset-2 ">
                <h3 class="wjs_news_header">全部新闻</h3>
            </div>
            <div class="col-md-1">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#news1" data-toggle="tab"><span class="wjs_icon wjs_icon_news_01"></span></a></li>
                    <li><a href="#news2" data-toggle="tab"><span class="wjs_icon wjs_icon_news_02"></span></a></li>
                    <li><a href="#news3" data-toggle="tab"><span class="wjs_icon wjs_icon_news_03"></span></a></li>
                    <li><a href="#news4" data-toggle="tab"><span class="wjs_icon wjs_icon_news_04"></span></a></li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="tab-content">
                    <div class="tab-pane active" id="news1">
                        <div class="news_content">
                            <a href="#" class="payback"><span>2016-9-22【微还款】一周还款公告2016年1月18日-1月24日</span></a>
                            <a href="#" class="payback"><span>2016-9-22【微还款】一周还款公告2016年1月18日-1月24日</span></a>
                            <a href="#" class="payback"><span>2016-9-22【微还款】一周还款公告2016年1月18日-1月24日</span></a>
                            <a href="#" class="payback"><span>2016-9-22【微还款】一周还款公告2016年1月18日-1月24日</span></a>
                            <a href="#" class="payback"><span>2016-9-22【微还款】一周还款公告2016年1月18日-1月24日</span></a>
                            <a href="#" class="payback"><span>2016-9-22【微还款】一周还款公告2016年1月18日-1月24日</span></a>
                            <a href="#" class="payback"><span>2016-9-22【微还款】一周还款公告2016年1月18日-1月24日</span></a>
                            <a href="#" class="payback"><span>2016-9-22【微还款】一周还款公告2016年1月18日-1月24日</span></a>
                        </div>
                    </div>
                    <div class="tab-pane" id="news2">2</div>
                    <div class="tab-pane" id="news3">3</div>
                    <div class="tab-pane" id="news4">4</div>
                </div>
            </div>
        </div>
    </div>
    <div class="wjs_partner text-center">
        <div class="container">
            <h1 class="partner">合作伙伴</h1>
            <div class="partner_logo">
                <a href="#" ><span class="wjs_icon wjs_icon_partner01"></span></a>
                <a href="#" ><span class="wjs_icon wjs_icon_partner02"></span></a>
                <a href="#" ><span class="wjs_icon wjs_icon_partner03"></span></a>
                <a href="#" ><span class="wjs_icon wjs_icon_partner04"></span></a>
                <a href="#" ><span class="wjs_icon wjs_icon_partner05"></span></a>
                <a href="#" ><span class="wjs_icon wjs_icon_partner06"></span></a>
                <a href="#" ><span class="wjs_icon wjs_icon_partner07"></span></a>
                <a href="#" ><span class="wjs_icon wjs_icon_partner08"></span></a>
                <a href="#" ><span class="wjs_icon wjs_icon_partner09"></span></a>
            </div>
        </div>
    </div>
    <!-- 引入js文件 -->
    <script type="text/javascript" src="../lib/jquery-3.3.0.js"></script>
    <script type="text/javascript" src="../lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../lib/iscroll.js"></script>
    <script type="text/javascript" src="../lib/template-web.js"></script>
    <script type="text/javascript" src="scripts/index.js"></script>
    <script type="text/art-template" id="bannerImg">
        <% for(var i=0; i<data.length; i++){ %>
            <% if(isMobile) { %>
                <div class="item <%= i==0?"active":"" %>">
                    <a href="#"><img src="<%= data[i].mImg %>"></a>
                </div>
            <% } else { %>
                <div class="item <%= i==0?"active":"" %>">
                    <a src="#" style="background-image:url(<%= data[i].pcImg %>);"></a>
                </div>
            <% } %>
        <% } %>
    </script>
    <script type="text/art-template" id="bannerDot">
        <% for(var i=0; i<data.length; i++){ %>
            <li data-target="#wjs_bar_images" data-slide-to="<%= i %>" class="<%= i==0?"active":""%>">
            </li>
        <% } %>
    </script>
</body>

</html>