@charset "UTF-8";


.index_product{
	/* 公共部分 */
	// 为所有产品子区块添加相同样式
 	> section {
		background: #fff;
		.w();
		margin-top: 10px;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		// 为除了所有产品子区块添加相同样式
		> header{
			.w();
			height: 32px;
			border-bottom: 1px solid #eee;
		}
		// 去除第一个产品子区块的底部边框
		&:first-of-type > header{
			border:none;
		}
	}//公共部分结束
	// 秒杀区
	.seckill{
		width: 100%;
		padding-bottom: 10px;
		/* 公共部分函数 */
		// header子元素的margin
		.hm(l){
			margin-left: 10px;
		} 
		.hm(r){
			margin-right: 10px;
		}
		.hm(@_){
			margin-top: 10px;
		}
		// 顶部
		header{
			// 秒表图标
			.seckill_icon{
				@w:16px;
				@h:20px;
				.db();
				background: url("../../images/seckill-icon.png") no-repeat center center / @w @h;
				width: @w;
				height: @h;
				.fl();
				.hm(l);
			}
			// 秒杀文字
			.seckill_word{
				font-size: 16px;
				color: @jdred;
				.fl();
				.hm(l);
			}
			// 秒杀倒计时
			.seckill_time{
				.fl();
				.hm(l);
				.tac();
				li{
					.fl();
					// 改变时间数字部分的样式
					&:not(:nth-of-type(3n)){
						width: 15px;
						height: 20px;
						background: #000;
						color: #fff;
					}
					&:not(:first-of-type){
						margin-left: 2px;
					}
				}
			}
			// 更多部分
			.seckill_more{
				.fr();
				.hm(r);
			}
		}//顶部结束
		// 内容区
		.content{
			ul{
				li{
					width: 33.3333%;
					.fl();
					.tac();
					font-size: 13px;
					img{
						.db();
						.w();
						padding: 0 40px;
						margin-top: 20px;
						margin-bottom: 10px;
					}
					// 除了最后一个图片都加上右边框
					&:not(:last-of-type){
						img{
							border-right: 1px solid #ddd;
						}
					}
					p{
						margin-top: 10px;
					}
					// 价格样式
					.newPrice{ color:@jdred; }
					.oldPrice{ text-decoration: line-through; }
				}
			}
		}//产品部分
	}//秒杀区结束
	// 后三个产品区（样式相似）
	.sameproduct{
		// 顶部
		header{
			line-height: 32px;
			.por();
			// 文字样式
			.headword{
				font-size: 16px;
				font-weight: normal;
				margin-left: 40px;
				&::before{
					content: "";
					.db();
					width: 3px;
					height: 15px;
					background: @jdred;
					.poa();
					top: 8px;
					left: 20px;
				}
			}
		}//顶部结束
		// 内容区
		.content{
			a{
				width: 50%;
				.db();
				img{
					.w();
					.db();
				}
			}
			// 内容区公共样式
			.bb{ border-bottom: 1px solid #ddd; }
			.br{ border-right: 1px solid #ddd; }
		}
	}//后三个产品区结束
}
